<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>

<body>
    <h1>Home Hurrey</h1>
    <p>Home Hurrey2</p>
    <!-- <p>Hello <%=name %>
    </p> -->

    <!-- OR, it doest show any error for mistyping variable name-->
    <p>Hello 2 <%= locals.name %>
    </p>
    <script>
        console.log('hello');
    </script>
    <!-- <script type="text/javascript" src="./script.js"></script> -->
</body>

</html>